{% extends "base.html.twig" %}

{% block body %}
    <div class="movies">
        {% for movie in movies %}
            <div class="movie">
                <div class="movie__id">{{ movie.getUuid() }}</div>
                <div class="movie__title">{{ movie.getName() }}</div>
                <div class="movie__duration">{{ movie.getDuration() }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}