{% extends "base.html.twig" %}

{% block body %}
    <div class="movies">
        {% for movie in movies %}
            <div class="movie">
                <div class="movie__id">{{ movie.getId() }}</div>
                <div class="movie__title">{{ movie.getName() }}</div>
                <div class="movie__duration">Duration: {{ movie.getDuration().format('%H:%I') }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}